.arrows {
	fill: green;
}

.circle {
	fill: #3B96BC;
}

.centerObjects {
	pointer-events: bounding-box;
}

.centerObjects:hover {
	fill-opacity: 0.5;
}

.centerObjects:active {
	stroke: white;
	stroke-width: 1px;
}

.mobile {
	fill: white;
}

