.scroll-container {
	height: 40px;
    width: 40px;
    border-radius: 50px;
    position: fixed;
    bottom: 0; 
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.scroll-arrow {
	font-size: 1.5em;
    font-weight: 900;
    line-height: 0px;
   	color: white;
}

.scroll-container:hover {
	background-color: black;
}

