.transportColor {
  background-color: #202020;
}

.placeUls {
	margin-top: 200px;
}

.impactsTxt {
	text-align: center;
	font-family: Tahoma;
	color: white;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto
}

.transportUlGreen {
	-webkit-box-shadow: 1px 2px 4px 2px #101010;
  	-moz-box-shadow:    1px 2px 4px 2px #101010;
  	box-shadow:         5px 5px 5px 2px #101010;
	text-align: center;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.transportLiGreen {
	background-color: #68A02C;
	list-style: none;
	line-height: 33px;
	font-family: Tahoma;
	font-size: 1.2em;
	margin-top: 8px;
	margin-left: -40px;
}

.transportLiHeaderGreen {
	background-color: #68A02C;
	list-style: none;
	line-height: 33px;
	font-family: Tahoma;
	font-size: 1.2em;
	margin-top: 5px;
	margin-left: -40px;
}

.transportLiHeaderBlue {
	background-color: #9CC2E5;
	list-style: none;
	line-height: 33px;
	font-family: Tahoma;
	font-size: 1.2em;
	margin-top: 5px;
	margin-left: -40px;
}

.transportUlBlue {
	-webkit-box-shadow: 1px 2px 4px 2px #101010;
  	-moz-box-shadow:    1px 2px 4px 2px #101010;
  	box-shadow:         5px 5px 5px 2px #101010;
	text-align: center;
	max-width: 400px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto
}

.transportLiBlue {
	background-color: #9CC2E5;
	list-style: none;
	line-height: 33px;
	font-family: Tahoma;
	font-size: 1.2em;
	margin-top: 5px;
	margin-left: -40px;
}

.liHeader {
	font-weight: bold;
	background-color: #8C8C8C;
}

.navLinkStyle {
	font-family: Tahoma;
	color: black;
	text-decoration: none;
}

.navLinkStyle:hover {
	background-color: #7F0000;
	color: white;
	text-decoration: none;
}

.liHover:hover {
	background-color: #7F0000;
	color: white;
}
