.footer,
.push {
    margin-top: 100px;
    height: 350px;
    /* To look ok on mobile phones */
    background: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
    -moz-box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
    box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
}

.smart-footer-txt {
    color: black;
    margin-right: 20%;
    margin-left: 40px;
    text-align: left;
}

.social-network {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 40px;
}

.facebook {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.twitter {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.gmail {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.facebook:hover,
.gmail:hover,
.twitter:hover {
    opacity: 0.5;
}