.read-more-button {
    position: relative;
    margin-top: 20px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Avenir Next;
    font-weight: 400;
    font-size: 1em;
    padding: 12px 20px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.55);
    transition: 0.1s;
}

.read-more-button:hover {
    padding: 11px 19px;
    border-width: 2px;
}