@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.burgerLabel {
    z-index: 99;
    position: fixed;
    left: 30px;
    top: 38px;
    font-family: Open Sans;
    color: #f2f2f2;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
    z-index: 99;
    position: fixed;
    width: 36px;
    height: 30px;
    left: 90px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #f2f2f2;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #c94e50;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    padding-left: 5px;
    padding-top: 6px;
    margin-right: 160px;
    min-height: 25px;
    min-width: 110px;
}

.custom-cross {
    background-color: #353535;
    color: white;
    font-size: 1em;
}

.underline-link {
    text-decoration: underline;
    background-color: #353535;
    color: white;
    font-size: 1em;
}

.bm-item.active {
    color: #c94e50;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #353535;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
    margin-top: -15px;
    list-style: none;
    color: #b8b7ad;
    padding: 0.8em;
  
}

/* Individual item */
.bm-item {
	text-decoration: none;
  	display: inline-block;
  	font-family: Open Sans;
  	color: white;
    margin-bottom: 3px;
  	padding-bottom: 12px;
}

.menu-element {
    border-style: solid;
    border-color: #353535;
    background-color: #151515;
    border-width: 2px;
    padding-top: 12px;
    padding-left: 80px;
    padding-right: 52px;
    margin-left: -80px;
    width: 100%;
}

.bm-item:hover {
    color: #c94e50;
}

.lol:hover {
    color:green;
}

/* Styling of overlay */
.bm-overlay {
}