.burgerLabel {
    z-index: 99;
    position: fixed;
    left: 30px;
    top: 38px;
    font-family: Avenir Next, 'Open Sans', sans-serif , Helvetica;
    color: #f2f2f2;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    margin-top: 5px;
    min-height: 50px;
    min-width: 50px;
    margin-right: 15px;
    z-index: 99;
    position: fixed;
    top: 36px;
}

.close-burger-container {
    background-color: none;
}

.custom-cross {
    font-size: 50px;
    padding-left: 6px;
    color: white;
}

.underline-link {
    text-decoration: underline;
    background-color: none;
    color: white;
    font-size: 1em;
}

.burger-container {
    margin-top: 3px;
    padding-left: 2px;
    padding-top: 1px;
}

.bm-burger-button:hover {
    border-color: #6D99FE;
    outline: 2px solid #6D99FE; 
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
}

/* Position and sizing of burger button */
.bm-burger-button {
    margin-top: 9px;
    margin-left: 15px;
    padding-right: 2px;
    z-index: 99;
    position: absolute;

}

.bm-item.active {
    color: white;
    text-decoration: underline;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background-color: rgba(0, 0, 0, 0.85);
    fill-opacity: 0.5;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
    margin-top: 15px;
    list-style: none;
    color: #b8b7ad;
    padding: 0.8em;
}

/* Prevent font weight change and outline of menu block */
.bm-item-list:focus {
    outline-width: 0px;
    font-weight: 400;
}

/* Individual item */
.bm-item {
    text-decoration: none;
    display: inline-block;
    font-family: Avenir Next, 'Open Sans', sans-serif , Helvetica;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2em;
    padding: 10px 10px 10px 0px;
}

.menu-element {
    background-color: none;
    border-width: 2px;
    padding-left: 8px;
    margin-top: 3px;
    /*
    decides width on menu elements
    width: 100%;*/
}

.menu-element:hover {
    color: white;
    border-color: #6D99FE;
    outline: 3px solid #6D99FE; 
}

.menu-element:focus {
    color: white;
    border-color: #6D99FE;
    outline: 3px solid #6D99FE; 
}
