.defaultContent {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Tahoma;
}

.defaultColor {
	background-color: #FF9200;
}

.lifetimeLink {
	color: black;
	text-decoration: underline;
}