.defaultContent {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Tahoma;
}

.defaultColor {
	background-color: #AD6200;
}

.lifetimeLink {
	color: white;
	text-decoration: underline;
}