.transport {
	fill: #488798;
} 

.transportTxt {
	fill: #303030;
} 

.transportIcon {
	fill: #303030;
}

.transport:active {
	stroke: white;
	stroke-width: 1px;
}

.transport:hover {
	fill-opacity: 0.4;
}