.transport {
	fill: #437E8E;
} 

.transportTxt {
	fill: white;
} 

.transportIcon {
	fill: white;
}

.transportLine {
	fill: #303030;
}

.transport:not(.transportLine):active {
	fill: #7F0000;
	fill-opacity: 1;
}

.transport:hover {
	fill-opacity: 0.4;
}