.arrows {
    fill: green;
}

.circle {
    fill: #3B96BC;
}

.mobile {
    fill: white;
}

.home {
    pointer-events: bounding-box;
}

.home:hover {
    fill-opacity: 0.4;
}

.home:active {
    fill-opacity: 1;
}