.arrows {
    fill: #006600;
}

.circle {
    fill: #255C74;
}

.mobile {
    fill: white;
}

.home {
    pointer-events: bounding-box;
}

.home:hover {
    fill-opacity: 0.4;
}

.home:active {
    fill-opacity: 1;
}