.arrows {
    fill: green;

    transform-box: fill-box;
    transform-origin: 50% 50%;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 100000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.circle {
    fill: #3B96BC;
}

.mobile {
    fill: white;
}

.home {
    pointer-events: bounding-box;
}

.home:hover {
    fill-opacity: 0.4;
}

.home:active {
    fill-opacity: 1;
}