.resourceExtraction {
	fill: #6C777F;
}

.resourceTxt {
	fill: white;
}

.resourceIcon {
	fill: white;
} 

.resourceLine {
	fill: #303030;
}

.mountain {
	fill: white;
} 

.resourceExtraction:not(.resourceExtractionLine):active {
	fill: #7F0000;
	fill-opacity: 1;
}

.resourceExtraction:hover {
	fill-opacity: 0.4;
}