.resourceExtraction {
	fill: #B5BFC2;
}

.resourceTxt {
	fill: #303030;
}

.resourceIcon {
	fill: #303030;
} 

.resourceLine {
	fill: #303030;
}

.mountain {
	fill: #303030;
} 

.resourceExtraction:active {
	stroke: white;
	stroke-width: 1px;
}

.resourceExtraction:hover {
	fill-opacity: 0.4;
}