.introTxt {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: Avenir Next;
    margin-right: 20px;
    font-size: 2em;
    max-width: 600px;
}

.desktop-header {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: white;

    -webkit-box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
    -moz-box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
    box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
}

.the {
    font-family: Avenir Next;
    margin-top: 10px;
    font-size: 1.2em;
    margin-bottom: -10px;
}

.mobile {
    font-family: Avenir Next;
    font-size: 3.2em;
    font-weight: 400;
    margin-bottom: -15px;
}

.lifecycle {
    font-family: Avenir Next;
    font-size: 1.6em;
}

.home-header-txt {
    position: absolute;
    margin-left: 150px;
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
}

.home-header-txt:hover span {
    color: #505050;
}

.m {
    color: #E00070;
}

.o {
    color: #00AD00;
}

.b {
    color: #BD2EC2;
}

.i {
    color: #0066FF;
}

.l {
    color: #EB0000;
}

.e {
    color: #C75000;
}


.header-link {
    text-decoration: none;
    color: #404040;
}

.desktop-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* Height of the footer */
    background: white;

    -webkit-box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
    -moz-box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
    box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
}

/* Positioning and size of SMART info text */
.desktop-footer-txt {
    position: absolute;
    margin-right: 40%;
    margin-left: 150px;
    margin-top: -68px;
    max-width: 800px;
}

/* Positioning and size of UiO logo */
.uio {
    position: relative;
    float: right;
    margin-right: 40px;
    margin-top: -65px;
    display: inline-block;
    width: 300px;
}

.uio:hover {
    opacity: 0.7;
}

.color-some-text {
    display: inline-block;
    -webkit-animation: color-change 8s infinite;
    -moz-animation: color-change 8s infinite;
    -o-animation: color-change 8s infinite;
    -ms-animation: color-change 8s infinite;
    animation: color-change 8s infinite;
}

@-webkit-keyframes color-change {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

@-moz-keyframes color-change {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

@-ms-keyframes color-change {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

@-o-keyframes color-change {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

@keyframes color-change {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}