.homeMenuTxt {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Tahoma;
}


.homeTxt {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Tahoma;
}

.homeMobileTxt {
  	color: white;
  	font-family: Tahoma;
}