.endOfLife {
	fill: #767676;
} 

.endTxt {
	fill: #303030;
} 

.endIcon {
	fill: #303030;
}

.endLine {
	fill: #303030;
}

.endOfLife:active {
	stroke: white;
	stroke-width: 1px;
}

.endOfLife:hover {
	fill-opacity: 0.4;
}