.endOfLife {
	fill: #767676;
} 

.endTxt {
	fill: white;
} 

.endIcon {
	fill: white;
}

.endLine {
	fill: #303030;
}

.endOfLife:not(.endLine):active {
	fill: #7F0000;
	stroke-width: 1px;
	fill-opacity: 1;
}

.endOfLife:hover {
	fill-opacity: 0.4;
}