.homeMenuTxt {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Tahoma;
}


.homeTxt {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Tahoma;
}

.homeMobileTxt {
  	color: white;
  	font-family: Tahoma;
}

.mobileSize {
	font-family: Tahoma;
	color: white;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.mobilePage {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	background-color: #202020;
}

.homeColor {
	background-color: #202020;
}