.footer,
.push {
    bottom: 0;
    height: 670px;
    /* To look ok on mobile phones */
    background-color: #1A6667;
    font-family: Avenir Next;
    color: white;
    text-align: left;
}

@media only screen and (min-width: 850px) {
    .footer {
        margin-left: 2.5%;
        border-top-left-radius: 50px;
    }
}

.footer-text-first-section {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
}

.share-text {
    font-family: Avenir Next;
    font-weight: 600;
    color: white;
}

.social-network {
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: left;
    margin-left: 50px;
}

.facebook {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.twitter {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.gmail {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.facebook:hover,
.gmail:hover,
.twitter:hover {
    opacity: 0.5;
}

.social:hover {
    background-color: #333333;
}

.footer-text-second-section {
    margin-left: 50px;
    margin-right: 50px;
}

.smart-link {
    color: white;
}

.smart-link:hover {
    background-color: rgba(1, 1, 1, 1);
    padding: 3px;
    margin-left: -3px;
}

.smart-link:focus {
    background-color: rgba(1, 1, 1, 1);
    padding: 3px;
    margin-left: -3px;
}


