.footer,
.push {
    bottom: 0;
    padding-top: 1px;
    padding-bottom: 30px;
    /* To look ok on mobile phones */
    background-color: #1A6667;
    font-family: Avenir Next;
    color: white;
    text-align: left;
}

.footer-text-first-section {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
}

.share-text {
    font-family: Avenir Next;
    font-weight: 600;
    color: white;
}

.social-network {
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.social:hover {
    background-color: #333333;
}

.social:active {
    background-color: #333333;
}

.footer-text-second-section {
    margin-left: 10px;
    margin-right: 10px;
}

.smart-link {
    color: white;
}

.smart-link:hover {
    background-color: #333333;
    color: white;
}

.smart-link:focus {
    background-color: #333333;
    color: white;
}


