.design {
	fill: #E00070;
}  

.designTxt {
	fill: white;
} 

.designIcon {
	fill: white;
} 

.designLine {
	fill: #303030;
}

.design:not(.designLine):active {
	fill: #7F0000;
	fill-opacity: 1;
}

.design:hover {
	fill-opacity: 0.4;
}