.design {
	fill: #B8005D;
}  

.designTxt {
	fill: #303030;
} 

.designIcon {
	fill: #303030;
} 

.designLine {
	fill: #303030;
}

.design:active {
	stroke: white;
	stroke-width: 1px;
}

.design:hover {
	fill-opacity: 0.4;
}