/* Standard End of Life color and effects */
.design {
	fill: #E00070;
}  

.designTxt, .designIcon {
	fill: white;
} 

.designLine {
	fill: none;
}

.design:hover {
	fill-opacity: 0.4;
}

.design:active {
	fill-opacity: 1;
}



/******************* Styling when on End of Life page *******************/ 




/* Prevents active element from fading on hover */
#design-page .design:hover {
	fill-opacity: 1;
} 

/* Colors on inactive menu elements */
#design-page .resourceExtraction, #design-page .manufacturing, #design-page .transport, #design-page .use, #design-page .endOfLife{
	fill: #858585;
}

/* Colors when hovering inactive menu elements */
#design-page .design:hover {
	fill: #E00070;
	fill-opacity: 1;
}

#design-page .resourceExtraction:hover {
	fill: #00AD00;
	fill-opacity: 1;
}

#design-page .manufacturing:hover {
	fill: #BD2EC2;
	fill-opacity: 1;
}

#design-page .transport:hover {
	fill: #0066FF;
	fill-opacity: 1;
}

#design-page .use:hover {
	fill: #EB0000;
	fill-opacity: 1;
}

#design-page .endOfLife:hover {
	fill: #C75000;
	fill-opacity: 1;
}