.footer,
.push {
    bottom: 0;
    height: 350px;
    /* To look ok on mobile phones */
    background-color: #1A6667;
}

@media only screen and (min-width: 850px) {
    .footer {
        margin-left: 2.5%;
        border-top-left-radius: 50px;
    }
}

.smart-footer-txt {
    color: white;
    margin-top: -16px;
    margin-right: 40px;
    margin-left: 40px;
    text-align: left;
    margin-bottom: 50px;
}

.share-text {
    font-family: Avenir Next;
    color: white;
}

.social-network {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 40px;
}

.facebook {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.twitter {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.gmail {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.facebook:hover,
.gmail:hover,
.twitter:hover {
    opacity: 0.5;
}