.impact-sub-menu {
    display: flex;
}

.default-element {
    /* flex-grow: 1; remove width and add this, to flexible width */
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 12px;
    background-color: rgba(189, 46, 194, 0.1);
}

.environmental-element {
    /* flex-grow: 1; remove width and add this, to flexible width */
    width: 50%;
    margin-right: 10px;

}

.social-element {
    /* flex-grow: 1; remove width and add this, to flexible width */
    width: 50%;
    background-color: rgba(189, 46, 194, 0.1);
}

.button-p {
    margin-top: -10px;
    font-size: 1.3em;
}

.default-element:hover,
.environmental-element:hover,
.social-element:hover {
    outline: #86A8DF solid 2px;
    cursor: pointer;
}
