.subMenu {
    list-style-position: inside;
    list-style-type: square;
    font-size: 0.8em;
}

.sub-menu-element {
    background-color: none;
    border-width: 2px;
    padding-left: 80px;
    padding-right: 43px;
    margin-left: -100px;
    width: 120%;
}

.dropdownLink {
    margin-bottom: 10px;
}