.useContent {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Tahoma;
}

.useColor {
	background-color: #FF9200;
}
