/* Style breadcrumbs*/
.breadcrumb {
    position: absolute;
    z-index: 99;
    font-size: 1.2em;
    margin-left: 20px;
    line-height: 60px;
}

.breadcrumbSpacing {
    display: inline-block;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.breadcrumbArrow {
    color: black;
}

.prevPage {
    display: inline-block;
    color: #333333;
    font-weight: 500;
    line-height: 30px;
    padding: 5px 5px 5px 5px;
}

/* Position of active page */
.activePage {
    display: inline-block;
    color: #333333;
    font-weight: 500;
    line-height: 30px;
    padding: 5px 5px 5px 5px;
}

.activePage:hover,
.prevPage:hover, 
.activePage:focus,
.prevPage:focus {
    background-color: grey;
    color: white;
}
