.scaling-svg-container {
    /* ensure that all of the viewport is used */
    width: 100%;
    margin-top: 121px;
    /* ensure that no scrollbars appear */
    padding: 0;
    /* center SVG horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

.scaling-svg {
    /* ensure 1:1 aspect ratio, tweak 50 to make SVG larger */
    width: 60vmin;
    height: 80vmin;
    background-color: none;
    max-width: 500px;
    max-height: 1200px;
}

.mini-menu {
    display: flex;
    flex-wrap: wrap;
}

.mini-menu-element {
    background-color: #f1f1f1;
    padding: 20px 20px;
    min-width: 150px;
    margin: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
}

.mini-menu-element:hover, :focus {
    outline: #86A8DF solid 3px;
    color: black;
    font-weight: 600;
}