.not-found {
  	text-align: center;
  	margin-top: 300px;
    border-top: 50%;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

.error-text {
	margin: 0 auto;
	font-weight: 300;
	color: red;
	font-size: 3em;
} 

.page-message {
	color: #202020;
	font-weight: bold;
	font-size: 1.5em;
}