.manufacturing {
	fill: #86208A;
}

.manufacturingText {
	fill: white;
}

.manufacturingIcon {
	fill: white;
}

.manuLine {
	fill: #303030;
}

.manufacturing:not(.manufacturingLine):active {
	fill: #7F0000;
	fill-opacity: 1;
}

.manufacturing:hover {
	fill-opacity: 0.4;
}