@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap');

/* Background color behind content, visable from > 1300px */
html {
    background-color: #FAF4ED;
}

/* In this file: Styling for vertically splitting desktop view in two */
.split {
    height: 100vh;
}

.left-half {
    position: absolute;
    max-width: 650px;
    z-index: -1;
    top: 0;
    width: 50%;
    height: 100vh;
    overflow: auto;
    background-color: #FFFFFF;
}

.right-half {
    z-index: -1;
    position: absolute;
    max-width: 650px;
    left: 50%;
    top: 0;
    overflow: auto;
    width: 50%;
    text-align: center;
    background-color: #FFFFFF;
}

.desktop-page-title {
    text-align: left;
    margin-bottom: 25px;
    font-size: 1.5em; 
    font-weight: 500; 
    color: #404040;
}

.right-half-content {
    max-width: 620px; 
    margin: 0 auto;
    text-align: left;
    margin-top: 150px; 
    margin-bottom: 100px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: Avenir Next;
    min-height: 100%;
}

.vertical-line {
    margin-top: 61px;
    height: 1px;
    background-color: lightgrey;
    width: 95%;
    border: none;
}



.home-interact {
    display: inline-block;
    color: white; 
    margin-left: 3px;
    margin-right: 3px;
    padding: 2px 5px 2px 5px;
    transition: 2s;
    cursor: pointer;
}

.home-interact:hover {
    color: white; 
    background-color: #00AD00;
}

.home-smart {
    background-color: #1A6667;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 4px 5px 2px 5px;
    margin-right: 3px;
}

.home-smart:hover {
    background-color: #333333;

}

.home-special-header {
    color: #333333;
    font-size: 3.2em;
    font-weight: 900;
    line-height: 95px;
    font-family: 'Avenir Next';
}

