html {
    background-color: #FAF4ED;
}

.split {
    height: 100vh;
}

.left-half {
    position: absolute;
    max-width: 650px;
    z-index: -1;
    top: 0;
    width: 50%;
    height: 100vh;
    overflow: auto;
    background-color: #FFFFFF;
}

.right-half {
    z-index: -1;
    position: absolute;
    max-width: 650px;
    left: 50%;
    top: 0;
    overflow: auto;
    width: 50%;
    text-align: center;
    background-color: #FFFFFF;
}

.desktop-page-title {
    text-align: left;
    margin-bottom: 25px;
    font-size: 1.5em; 
    font-weight: 500; 
    color: #404040;
}

.right-half-content {
    max-width: 620px; 
    margin: 0 auto;
    text-align: left;
    margin-top: 150px; 
    margin-bottom: 100px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: Avenir Next;
    min-height: 100%;
}

.vertical-line {
    margin-top: 0px;
    height: 1px;
    background-color: lightgrey;
    width: 95%;
    border: none;
}

/* Fixes scroll to main content on desktop devices */
.fix-top {
    position:absolute;
    z-index:-1;
    left:0;
    margin-top:-120px;/* height of nav*/
}