.new-sub-menu {
    position: absolute;
    z-index: 99;
    margin-top: 0px;
    max-width: 1300px;
    height: 60px;
    width: 100%; 
    background-color: white;
}

.new-sub-menu-element {
    width: 20%;
    background-color: none;
    text-align: center;
    height: 60px;
    float: left;
    line-height: 60px;
    background-color: white;
}

.new-sub-menu-element-text {
    font-size: 1em;
    min-width: 140px;
    margin-left: 40px;
    margin-right: 40px;
    margin: 0 auto;
    max-width: 140px;
    line-height: 40px;
    background-color: none;
    cursor: pointer;
}

.new-sub-menu-element-text:hover {
    outline: #86A8DF solid 2px;
}

