.impact-sub-menu {
    display: flex;
    margin-left: 50%;
    height: 60px;
}

/* to hide elements under menu */
.fix-content-scroll-under-sub {
    position: absolute;
    z-index: 10;
    height: 60px; 
    width: 100%;
    background-color: white;
    max-width: 1300px; 
}

.lifecycle-icon {
    flex-grow: 1;
    height: 50px;
    margin-top: 5px;
    z-index: 99;
}

.environmental-element {
    flex-grow: 1;
    height: 50px;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Avenir Next;
    font-size: 1em;
    z-index: 99;
}

.social-element {
    flex-grow: 1;
    height: 50px;
    margin-top: 5px;
    margin-right: 5%;
    font-family: Avenir Next;
    font-size: 1em;
    z-index: 99;
}

.lifecycle-icon:hover, 
.environmental-element:hover,
.social-element:hover {
    outline: #86A8DF solid 2px;
}

