/* For all images in the different pages */
.image-container {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
/* Credit tag on all Unsplash images */
.image-credit {
    position: absolute;
    bottom: 15px;
    right: 20px; 
    padding: 1px 2px;
    background-color: white;
    color: #333333;
}

.image-credit:hover {
    background-color: #333333;
    color: white;
}

.image-credit:focus {
    background-color: #333333;
    color: white;
}
