/* In this file: Styling for mobile devices */
.mobile-page {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #FFFFFF;
    /* smooth scrolling on mobile devices */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* Container for all content */
.mobile-content {
    font-family: Avenir Next;
    color: black;
    width: 100%;
    text-align: left;
    padding-bottom: 15px;
}

/* The main title in every page */
.mobile-page-title {
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 2em; 
    font-weight: 500; 
    color: #404040;
}

/* The page introduction text under the title */
.page-introduction-text {
    text-align: left;
    margin-top: 10px; 
    margin-bottom: -40px; 
    font-family: Avenir Next; 
    margin-left: 20px;
    margin-right: 20px; 
    font-size: 1em;
}

/* Styling on impact selection header */
.impact-selection {
    position: relative;
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    font-weight: 500;
    color: #404040;
}

/* Styling on text for selected impact category */
.selected-impact {
    position: relative;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    font-weight: 500;
    color: #404040;
}

/* Decides margin on right and left sides of info boxes*/
.mobile-content-margin {
    margin-left: 10px;
    margin-right: 10px;
}

