/* In this file: Styling for mobile devices */
.mobile-page {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #FFFFFF;
    /* smooth scrolling on mobile devices */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.mobile-content {
    font-family: Avenir Next;
    color: black;
    width: 100%;
    text-align: center;
}

.mobile-page-title {
    text-align: left;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 2em; 
    font-weight: 500; 
    color: #404040;
}

/* The page introduction text under the title */
.page-introduction-text {
    text-align: left;
    margin-top: 10px; 
    margin-bottom: -40px; 
    font-family: Avenir Next; 
    margin-left: 20px;
    margin-right: 20px; 
    font-size: 1em;
}

/* Styling on impact selection header */
.impact-selection {
    position: relative;
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    font-weight: 500;
    color: #404040;
}

.selected-impact {
    position: relative;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    font-weight: 500;
    color: #404040;
}

/* Decides margin on right and left sides of info boxes*/
.mobile-impacts-width {
    margin-left: 10px;
    margin-right: 10px;
}

/* All impacts + information in the Home and Design pages */
.info-box {
    text-align: left;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
    -moz-box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
    box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
}

/* padding over info box header */
.info-header {
    text-align: left;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 20px;
}

/* Positions text inside info box */
.info-positioning {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* For all images in the different pages */
.image-container {
    position: relative;
}
/* Credit tag on all Unsplash images */
.image-credit {
    position: absolute;
    bottom: 15px;
    right: 10px; 
    padding: 3px 8px;
    background-color: white;
}