/* Used in home and design page
   on mobile devices  */
.h1-default-style {
	font-family: Avenir Next;
    font-size: 2.2em;
    margin-top: 80px;
    margin-bottom: 10px;
    font-weight: 500;
}

/* Used in combination with impact 
   selection in both desktop and 
   mobile components */
.h1-impact-style {
    font-family: Avenir Next;
    font-size: 2.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 1020px) and (min-width: 850px)  {
    .environmental-responsive {
        max-width: 150px;
    }
}


.h2-default-style {
	font-family: Avenir Next;
    font-size: 1.1em;
    padding: 25px 10px 5px 0px;
    margin-bottom: -20px;
    font-weight: 600;
}

.impact-box-header {
    text-align: left;
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 20px;
}

.home-big-header {
    color: #333333;
    font-size: 4.7em;
    font-weight: 900;
    line-height: 95px;
    font-family: 'Avenir Next';
    margin-top: -20px;
}

.smart-research-link {   
    background-color: #1A6667;  
    text-decoration: none; 
    font-weight: 300; 
    color: white;   
    padding: 4px 5px 2px 5px; 
    margin-right: 3px;  
}   

 .smart-research-link:hover {    
    background-color: #333333;  
}
