/* Used in home and design page
   on mobile devices  */
.h1-default-style {
    font-size: 2.2em;
    margin-top: 80px;
    margin-bottom: 10px;
    font-weight: 500;
}

/* Used in combination with impact 
   selection in both desktop and 
   mobile components */
.h1-impact-style {
    font-size: 2.5em;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 1165px) and (min-width: 850px)  {
    .environmental-responsive {
        max-width: 150px;
    }
}


.h2-default-style {
    padding: 25px 10px 5px 0px;
    margin-bottom: -10px;
    font-weight: 600;
}

.h3-default-style {
    padding: 0px 10px 5px 0px;
    margin-bottom: -20px;
}

.impact-box-header {
    text-align: left;
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 20px;
}
