@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('http://fonts.googleapis.com/css?family=Open+Sans'); /* IE9 Compat Modes */
}

.split {
    width: 100vw;
    height: 100vh;
}

.left-half {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    overflow: auto;
}

.right-half {
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
    width: 50%;
    text-align: center;
} 

.fix-top-margin-environmental {
    margin-top: 170px;
}

.fix-top-margin-social {
    margin-top: -50px;
} 

.design-info {
    position: relative;
    margin-top: 100px;
    padding: 5%;
    max-height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    background: white;
    font-family: Avenir Next;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow:    0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow:         0px 0px 33px -8px rgba(166,166,166,1);
    
}

.desktop-header-txt {
    position: relative;
    color: black;
    margin-bottom: -20px;
} 

.desktop-bookmark {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    background-color: #1A6667;
    width: 100px;
    height: 110px;
    
    transition: 1s;
}

.desktop-bookmark:hover {
    width: 300px;
}

.desktop-smart-logo {
    right: 0;
    margin-right: 5px;
    position: absolute;
    max-width: 90px;

}

.desktop-smart-text {
    position: absolute;
    color: white;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-right: 22px;
    font-family: Avenir Next;
}

.hidden-bookmark-text {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    margin-right: 100px;
    margin-top: 10px;
    width: 180px;
    text-align: center;
    color: white;
    font-family: Avenir Next;

    display: none;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.desktop-bookmark:hover .hidden-bookmark-text {
    display: block;
} 

/* Flex container */
.right-half-flex-container {
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* Flex elements */
.right-half-flex-container > .environmental-info-element, .social-info-element {
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    max-width: 300px;
    height: 75px;
    width: 45%;
    background: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow:    0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow:         0px 0px 33px -8px rgba(166,166,166,1);
   
}

/* Active environmental flex element */
.right-half-flex-container > .active-environmental-info-element {
    cursor: pointer;
    margin: 20px;
    width: 100%;
    padding-bottom: 5%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 620px;
    max-height: 620px;
    background: #FE6F6F;
    color: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow:    0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow:         0px 0px 33px -8px rgba(166,166,166,1);
    transition: 1.2s;
}

/* Active social flex element */
.right-half-flex-container > .active-social-info-element {
    cursor: pointer;
    margin: 20px;
    width: 100%;
    padding-bottom: 5%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 620px;
    max-height: 620px;
    background: #B3D1FF;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow:    0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow:         0px 0px 33px -8px rgba(166,166,166,1);
    transition: 1.2s;
}

/* Environmental collapse element*/
.collapse {
    position: absolute;
    right: 0;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 2.5em;
    line-height: 25px;
    text-align: center;
    background: #FE6F6F;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow:    0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow:         0px 0px 1px 1px white;
}

/* Social collapse element*/
.collapse-social {
    position: absolute;
    right: 0;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 2.5em;
    line-height: 25px;
    text-align: center;
    background: #B3D1FF;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow:    0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow:         0px 0px 1px 1px white;
}

.environmental-info-element:hover {
    background: #FE6F6F;
    color: white;
    transition: 1.2s background-color;
    cursor: pointer;
}

.social-info-element:hover {
    background-color: #b3d1ff;
    transition: 1.2s background-color;
    cursor: pointer;
}

.right-half-flex-container > .active-environmental-info-element:before {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.default-style {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 8px;
    font-size: 2em;
    line-height: 17px;
    height: 30%;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.not-default-style {
    position: absolute;
    text-decoration: underline;
    right: 0;
    top: 0;
    height: 30%;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 1em;
    color: white;
}

.info-box-content {
    position: relative;
    font-family: Avenir Next;
    font-size: 1.2em;
}

.active-info-box-content {
    position: relative;
    width: 100%;
    font-family: Avenir Next;
    font-size: 1.2em;
}

.place-menu-header {
    text-align: center;
}