@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('http://fonts.googleapis.com/css?family=Open+Sans'); /* IE9 Compat Modes */
}

.split {
    width: 100vw;
    height: 100vh;
}

.left-half {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    overflow: auto;
}

.right-half {
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
    width: 50%;
    text-align: center;
} 

.desktop-header-txt {
    position: relative;
    margin-top: 170px;
    color: black;
}

/* Flex container */
.right-half-flex-container {
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

/* Flex elements */
.right-half-flex-container > .environmental-info-element, .social-info-element {
    position: relative;
    display: inline-grid;
    margin: 10px;
    max-width: 300px;
    width: 45%;
    padding-top: 20%; /* Aspect Ratio */
    padding-bottom: 20%; /* Aspect Ratio */
    background: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow:    0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow:         0px 0px 33px -8px rgba(166,166,166,1);
   
}

/* Active flex elements */
.right-half-flex-container > .active-environmental-info-element {
    position: relative;
    margin: 20px;
    width: 100%;
    max-width: 620px;
    max-height: 620px;
    background: #FE6F6F;
    color: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow:    0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow:         0px 0px 33px -8px rgba(166,166,166,1);
    transition: 1.2s;
}

.right-half-flex-container > .active-environmental-info-element:before {
    content: "";
    display: block;
    padding-top: 100%;  /* ratio of 1:1*/
}


.environmental-info-element:hover {
    background: #FE6F6F;
    color: white;
    transition: 1.2s background-color;
    cursor: pointer;
}

.social-info-element:hover {
    background-color: #b3d1ff;
    cursor: pointer;
}

.info-box-content {
    position: relative;
    font-family: Avenir Next;
    font-size: 1.2em;
}

.active-info-box-content {
    position: relative;
    width: 100%;
    font-family: Avenir Next;
    font-size: 1.2em;
}

.place-menu-header {
    text-align: center;
}