.leftBig {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 100vh;
  background-color: #292929;
  overflow: auto;
}

.rightBig {
  position: absolute;
  right: 0;
  top: 0;
  overflow: auto;
  width: auto;
  text-align: center;
} 

.bigDefaultContent {
  position: fixed;
  left: 600px;
  height: 100vh;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: Tahoma;
  background-color: #292929; 
}

.pageHeaderBigScreen {
  position: fixed;
  z-index: 99;
  width: 500px;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Tahoma;
}


/************* Flex box styling ***************/
/* big screen flex box 1 */
.big-screen-flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #292929;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 150px; 
}

.big-screen-flex-container > .environmentalImpacts {  
  background-color: #68A02C;
  width: 80%;
  max-width: 800px;
  -webkit-box-shadow: 1px 2px 4px 2px #101010;
  -moz-box-shadow:    1px 2px 4px 2px #101010;
  box-shadow:         3px 2px 4px 2px #101010;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  font-family: Tahoma;
  font-size: 0.85em;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-left: 10px;
  line-height: 70px; 
  text-decoration: none;
}

/* big screen flex box 2 */
.big-screen-flex-container2 {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #292929;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 50px; 
}

.big-screen-flex-container2 > .socialImpacts {
  background-color: #9CC2E5;
  width: 80%;
  max-width: 800px;
  -webkit-box-shadow: 1px 2px 4px 2px #101010;
  -moz-box-shadow:    1px 2px 4px 2px #101010;
  box-shadow:         3px 2px 4px 2px #101010;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  font-family: Tahoma;
  font-size: 0.85em;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-left: 10px;
  line-height: 70px; 
  text-decoration: none;
}