/* In this file: Styling for vertically splitting desktop view in two */
.split {
    width: 100vw;
    height: 100vh;
}

.left-half {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    overflow: auto;
    background-color: #FFFFFF;
}

.right-half {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
    width: 50%;
    text-align: center;
    background-color: #FFFFFF;
}