.salah-pappa{
  display:flex;
}
.salah {
  margin: auto;
}

.hazard {
  margin: auto;
}

/* just aesthetics */
.salah-pappa {
  width: 100vw;
  height: 90vh;
  border: 3px solid steelblue;
  margin: auto;
}

.fill-empty-space-salah {
  padding: 5%;
}

.salah {
  background: #F5F5F5;
  margin-top: 5%;
  border-radius: 8px;
  width: 85vw; height: 75vh;
  -webkit-box-shadow: 3px 2px 4px 2px #202020;
  -moz-box-shadow:    3px 2px 4px 2px #202020;
  box-shadow:         3px 2px 4px 2px #202020;
}

.hazard {
  background: tomato;
  margin-top: 2%;
  border-radius: 8px;
  width: 85vw; height: 70vh;
  -webkit-box-shadow: 3px 2px 4px 2px #202020;
  -moz-box-shadow:    3px 2px 4px 2px #202020;
  box-shadow:         3px 2px 4px 2px #202020;
}

.salah-info {
  color: #202020;
  font-family: Open Sans;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.salah-header {
  color: #202020;
  padding-top: 20px;
  font-family: Open Sans;
  font-size: 1.5em;
}

.salah-image {
  margin-top: 20px;
  width: 70%;
}

.salah-button {
  margin-top: 10px;
  color: green;
}



/************* Flex box styling ***************/
/* big screen flex box 1 */
.big-screen-flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #292929;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 150px; 
}

.big-screen-flex-container > .environmentalImpacts {  
  background-color: #68A02C;
  width: 80%;
  max-width: 800px;
  -webkit-box-shadow: 1px 2px 4px 2px #101010;
  -moz-box-shadow:    1px 2px 4px 2px #101010;
  box-shadow:         3px 2px 4px 2px #101010;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  font-family: Tahoma;
  font-size: 0.85em;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-left: 10px;
  line-height: 70px; 
  text-decoration: none;
}

/* big screen flex box 2 */
.big-screen-flex-container2 {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #292929;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 50px; 
}

.big-screen-flex-container2 > .socialImpacts {
  background-color: #9CC2E5;
  width: 80%;
  max-width: 800px;
  -webkit-box-shadow: 1px 2px 4px 2px #101010;
  -moz-box-shadow:    1px 2px 4px 2px #101010;
  box-shadow:         3px 2px 4px 2px #101010;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  font-family: Tahoma;
  font-size: 0.85em;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-left: 10px;
  line-height: 70px; 
  text-decoration: none;
}




/* flex-box 1 */
.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: none;
  max-width: 900px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 150px; 
}

.flex-container > .environmentalImpacts {  
  background-color: #68A02C;
  width: 38%;
  -webkit-box-shadow: 1px 2px 4px 2px #101010;
  -moz-box-shadow:    1px 2px 4px 2px #101010;
  box-shadow:         3px 2px 4px 2px #101010;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  font-family: Tahoma;
  font-size: .75em;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-left: 10px;
  line-height: 70px; 
  text-decoration: none;
}

/* flex-box 2 */
.flex-container2 {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #292929;
  max-width: 900px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px; 
}

.flex-container2 > .socialImpacts {
  background-color: #9CC2E5;
  width: 38%;
  -webkit-box-shadow: 1px 2px 4px 2px #101010;
  -moz-box-shadow:    1px 2px 4px 2px #101010;
  box-shadow:         3px 2px 4px 2px #101010;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  font-family: Tahoma;
  font-size: .75em;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-left: 10px;
  line-height: 70px; 
  text-decoration: none;
}

/* mobile-flex-box 1 */
.mobile-flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #292929;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px; 
}

.mobile-flex-container > .environmentalImpacts {  
  background-color: #68A02C;
  width: 80%;
  -webkit-box-shadow: 1px 2px 4px 2px #101010;
  -moz-box-shadow:    1px 2px 4px 2px #101010;
  box-shadow:         3px 2px 4px 2px #101010;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  font-family: Tahoma;
  font-size: 0.85em;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-left: 10px;
  line-height: 70px; 
  text-decoration: none;
}

/* mobile-flex-box 1 */
.mobile-flex-container2 {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #292929;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 50px; 
}

.mobile-flex-container2 > .socialImpacts {
  background-color: #9CC2E5;
  width: 80%;
  -webkit-box-shadow: 1px 2px 4px 2px #101010;
  -moz-box-shadow:    1px 2px 4px 2px #101010;
  box-shadow:         3px 2px 4px 2px #101010;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  font-family: Tahoma;
  font-size: 0.85em;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-left: 10px;
  line-height: 70px; 
  text-decoration: none;
}

/* elements of flex-box 1 & 2 */
.environmentalImpacts:hover {
  background-color: #7F0000;
}

.socialImpacts:hover {
  background-color: #7F0000;
}

.flexArrow {
  float: right;
  margin-right: 10px;
  font-size: 1.5em;
  user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

/* Hacky flexbox align last element left fix */
.flex-container > .hacky-flex-fix{  
  background-color: none;
  width: 38%;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  padding-left: 10px;
  line-height: 70px;
  user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.flex-container2 > .hacky-flex-fix{  
  background-color: #292929;
  width: 38%;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  padding-left: 10px;
  line-height: 70px;
  user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.mobile-flex-container > .hacky-flex-fix{  
  background-color: #292929;
  width: 38%;
  list-style: none;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
  padding-left: 10px;
  line-height: 70px;
  user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}