.defaultButton {
	display: block; 
	position: relative;
	right: 0; 
	margin-left: 1%; 
	width: 100px; 
	margin-top: 10px;
	margin-bottom: -10px;
	border: solid 1px lightgrey;
	color: #696969; 
	border-radius: 5px;
	padding: 5px 0px; 
	font-weight: 500; 
	cursor: pointer; 
	font-family: Avenir Next;
	letter-spacing: 2px;
	font-size: 1em;
}

.commonButtonStyle {
	position: relative;
	margin-right: 1%;
	margin-top: 20px; 
	margin-bottom: 20px;
	border: solid 2px; 
	border-radius: 5px; 
	width: 48.5%; 
	padding: 14px 0px; 
	font-weight: 500; 
	cursor: pointer; 
	letter-spacing: 2px;
	font-family: Avenir Next; 
	font-size: 1em;
}

.environmentalButton {
	left: 0;
	margin-left: 1%;
	
}

.socialButton {
	right: 0;
}
