@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.mobilePage {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

.mobileContent {
    font-family: Avenir Next;
    color: black;
    width: 100%;
    text-align: center;
}

.top-txt {
    position: relative;
    margin-top: 120px;
    color: black;
}

.top-txt2 {
    position: relative;
    margin-top: 100px;
    color: black;
}

.purple-line {
    margin: 0 auto;
    margin-top: -8px;
    width: 140px;
    border-bottom: 5px solid #BD2EDC;

}

.page-one-button {
    position: relative;
    margin-top:40px;
    border: none;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Avenir Next;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 60px;
    cursor: pointer;
    background-color: #BD2EDC;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.55);
    -moz-box-shadow:    2px 2px 6px 0px rgba(0,0,0,0.55);
    box-shadow:         2px 2px 6px 0px rgba(0,0,0,0.55);
    transition: 0.8s;
}

.page-one-button:hover {
    background-color: #46CBD8;
}

.design-icon-mobile {
    fill: #BD2EDC;
    transition: 0.8s;
    transform-box: fill-box;
    transform-origin: 50% 50%;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}

}

.design-icon-mobile:hover {
    fill: #46CBD8;
    
}

.page-one {
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
    height: 800px;
    background: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow:    0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow:         0px 0px 33px -8px rgba(166,166,166,1);
    
}

.page-two {
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
    height: 800px;
    background: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
}

.page-three {
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
    height: 800px;
    background: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
}


.info-header {
    padding-top: 60px;
    padding-bottom: 20px;
}

.txt-child {
    padding-top: 30px;
    font-family: Avenir Next;
}

.txt-child-under-svg {
    padding-top: 10px;
    font-family: Avenir Next;
}

.bookmark {
    position: absolute;
    text-align: center;
    right: 0;
    margin-right: 20px;
    background-color: #1A6667;
    width: 100px;
    height: 110px;
}

.bookmark:hover {
    opacity: 0.8;
}

.smart-logo {
    width: 90px;
}

.smart-text {
    position: absolute;
    color: white;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-right: 22px;
    font-family: Avenir Next;
}


.img-tst {
    width: 100%;
}

.footer, .push {
    margin-top: 100px;
    height: 350px; /* To look ok on mobile phones */
    background: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    -moz-box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
    box-shadow: 0px 0px 33px -8px rgba(166,166,166,1);
}

.smart-footer-txt {
    color: black;
    margin-right: 20%;
    margin-left: 40px;
    text-align: left;
}

.social-network {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 40px;
}

.facebook {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.twitter {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

.gmail {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
} 