/* In this file: Styling for mobile devices */
.mobilePage {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #FFFFFF;
    /* smooth scrolling on mobile devices */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.mobileContent {
    font-family: Avenir Next;
    color: black;
    width: 100%;
    text-align: center;
}

/* Title showing active page */
.page-title {
    margin-top: 80px; 
    font-size: 2em; 
    font-weight: 500; 
    margin-left: 2.5%; 
    margin-right: 2.5%;
}

/* The page introduction text under the title */
.page-introduction-text {
    margin-top: 10px; 
    margin-bottom: -40px; 
    font-family: Avenir Next; 
    margin-left: 2.5%;
    margin-right: 2.5%; 
    text-align: justify; 
    font-size: 1em;
}

/* Header that states selected impact category */
.selected-info {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -10px;
    margin-bottom: 40px;
    font-size: 1.5em;
    font-weight: 500;
    color: #404040;
}

/* Decides width on the impacts info boxes*/
.mobile-impacts-width {
    width: 100%-20px;
    margin-left: 10px;
    margin-right: 10px;
}

/* All impacts + information in the Home and Design pages */
.info-box {
    text-align: justify;
    border-radius: 10px;
    margin-top: -10px;
    padding-bottom: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
    -moz-box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
    box-shadow: 0px 0px 33px -8px rgba(166, 166, 166, 1);
}

/* padding over info box header */
.info-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 20px;
}

/* Positions text inside info box */
.info-positioning {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* For all images in the different pages */
.image-container {
    position: relative;
}
/* Credit tag on all Unsplash images */
.image-credit {
    position: absolute;
    bottom: 15px;
    right: 10px; 
    padding: 3px 8px;
    background-color: white;
}