.use {
	fill: #AD6200;
}

.useTxt {
	fill: white;
} 

.useIcon {
	fill: white;
} 

.useLine {
	fill: #303030;
}

.use:not(.useLine):active {
	fill: #7F0000;
	stroke-width: 1px;
	fill-opacity: 1;
}

.use:hover {
	fill-opacity: 0.4;
}